<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>myTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ActServlet</servlet-name>
		<servlet-class>com.activity.controller.ActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActServlet</servlet-name>
		<url-pattern>/activity/act.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActCategory</servlet-name>
		<servlet-class>com.actCategory.controller.ActivityCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActCategory</servlet-name>
		<url-pattern>/actcategory/activityCategory.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActPhotoServlet</servlet-name>
		<servlet-class>com.actPhoto.Controller.ActPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActPhotoServlet</servlet-name>
		<url-pattern>/actPhoto/ActPhotoServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhotoReader</servlet-name>
		<servlet-class>com.actPhoto.Controller.PhotoReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoReader</servlet-name>
		<url-pattern>/actPhoto/PhotoReader.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActOrderServlet</servlet-name>
		<servlet-class>com.activityOrder.Controller.ActOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActOrderServlet</servlet-name>
		<url-pattern>/actOrder/ActOrderServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActCommentServlet</servlet-name>
		<servlet-class>com.activityComment.Controller.ActCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActCommentServlet</servlet-name>
		<url-pattern>/actComment/ActCommentServlet.do</url-pattern>
	</servlet-mapping>

</web-app>