/*content*/

/* * {
	font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
} */

h1 {
	text-align: center;
}

#container {
    margin: -10px auto;
    width: 100%;
}

#container .title {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	background: #f9f9f9; 
	border-radius: .25em .25em 0 0;
	color: #888;  
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1.2em; 
	height: 2.6em;
	line-height: 2.6em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#container .title:hover + label {
	background: #ddd; 
	color: #888; 
}

#container .title:checked + label {
	background: #f1f1f1;  
	color: #c15c61; 
	position: relative;
	/* z-index: 4; */
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	
}

#content {
	background: #f9f9f9;  
	border-radius: 0 .25em .25em .25em;
	min-height:41em;  
	position: relative;
	width: 100%;
	/* z-index: 3; */
}

#content #content-1, #content #content-2, #content #content-3, #content #content-4 {
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
	transition: all linear 0.1s;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3,
#container input#tab-4:checked ~ #content #content-4 {
    opacity: 1;
    z-index: 100;
}


.input-beautify{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 8px 8px;
    width: 620px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Tahoma";
}

/*addRoomType.jsp*/

.input-beautify:hover{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.error {
	color: red;
	font-size:5px;
}

#myTable {
    border-collapse: collapse; 
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px; 
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

/*light box*/

#lightBox{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(66,66,66,.6);
    z-index:999;
  }
  #tableLogin{
    position: absolute;
    width: 800px;
    height:450px;
   	top: 25%;
    right: 20%;
    bottom: 30%;
    left: 25%;
    margin:auto;
    background-color:#f9f9f9;
    border-radius: 10px;
  }

  #tableLogin td{
    padding-left:20px;
    height:15px;
    border-style:none;
  }
  
  
/*room type photo*/
/* 
.photo-form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}
.photo-form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
.photo-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.photo-form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
.photo-form button:hover{
  background: #149174;
	color: #0C5645;
}
.photo-form button:active{
  border:0;
} */


  