/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
body {
    margin: 0;
    padding: 0;
    background-image: url("img/stephan-zabini-JUiAUR64QNU-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover; 
  	-moz-background-size: cover; 
  	-webkit-background-size: cover; 
  	background-repeat: no-repeat; 
  	background-position: center center;
}

.header {
  width: 100%;
  height: 100px;
  background-color:#fff;
  position: relative;
  z-index: 999;
  text-align: center;
}

.img-logo {
  margin-top: -25px;
  height: 150px;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%); 
  -o-filter: grayscale(0%);
}

.img-logo:hover {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  transform: scale(1.1); 
}

#menuToggle {
  display: block;
  position: absolute;
  top: 37px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  font-weight: 400;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle li:hover {
  background-color: rgba(255, 99, 71, 0.796);
  text-shadow: 0px 0px 0px 15px #000;
  border-radius: 25px;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed9f;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  text-align: center;
  padding: 10px 40px;
  font-size: 22px;
}
/*And let's slide it in from the left*/
#menuToggle input:checked ~ ul{
  transform: none;
}

/*title*/
.purchase-title {
  width: 100%;
  position: absolute;
  top: auto;
  background-color: #fff;
}

.title-text {
  height: 150px;
  text-align: center;
  color: #fff;
}
.title-text div {
  font-family: Arial, Helvetica, verdana, 微軟正黑體, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 150px;
  font-size: 32px;
}

/*content*/

.content-row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.thumbnail {
  display: block;
}

.sm-figure {
  width: 100%;
}

.sm-figure .thumbnail img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sm-figure .content-caption {
  text-align: center;
  padding-top:30px;
}

.sm-figure .content-caption a {
  color: #6b8c57;
  text-decoration: none;
}

.sm-figure .content-caption a:hover {
  color: #445837;
}

.content-sidebar {
  margin-left: 20px;
}

.content-sidebar table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-sidebar .content-sidebar-first {
  text-align: center;
  background-color: #8a9380;
  height: 50px;
}

.content-sidebar .content-sidebar-first strong {
  font-family: Arial, Helvetica, verdana, "微軟正黑體", sans-serif;
  color: #fff;
  font-size: 20px;
}

.content-sidebar table strong {
  color: #6b8c57;
}

.content-sidebar ul {
  background-color: #f9f9f9;
}

.content-sidebar ul li {
  text-decoration: none;
  color: #6b8c57;
  border-bottom: #ccc 1px dashed;
  line-height: 2rem;
}

.content-sidebar ul li a {
  color: #909886;
  text-decoration: none;
}

.content-sidebar ul li a:hover {
  color: #415733;
}

.content-sidebar .content-sidebar-second {
  width: 100%;
  font-size: 20px;
  color: #eceeef;
  font-family: Arial, Helvetica, verdana, "微軟正黑體", sans-serif;
  font-weight: 400;
}

.content-sidebar .content-sidebar-second td {
  padding: 5px 15px;
}
/*float-sidebar*/
#float-sidebar {
  position: absolute;
  left: 91.5%;
  top: 32%;
  width: 80px;
  text-align: center;
  position: fixed;
  z-index: 99999;
}

#float-fb {
  width: auto;
  height: 80px;
  margin-bottom: 10px;
  background-color: #5a6c91;
  padding-top: 7px;
  border-radius: 50%;
}

#float-fb i {
  color: #fff;
  font-size: 35px;
}

#float-fb a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

#float-fb i:hover {
  opacity: 0.5;
}

#float-fb a:hover {
  opacity: 0.5;
}

#float-booking {
  width: auto;
  height: 80px;
  margin-bottom: 10px;
  background-color: #d17d7f;
  padding-top: 7px;
  border-radius: 50%;
}

#float-booking i {
  color: #fff;
  font-size: 35px;
}

#float-booking a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

#float-booking i:hover {
  opacity: 0.5;
}

#float-booking a:hover {
  opacity: 0.5;
}

#float-top {
  width: auto;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 10px;
}

#float-top i {
  color: #c15c61;
  font-size: 35px;
}

#float-top a {
  color: #c15c61;
  font-size: 15px;
  text-decoration: none;
}

@media screen and (max-width:767px)
{
  #float-sidebar
  {
    display: none !important;
  }
}


/*footer*/
.site-footer {
  background-color:#26272b;
  padding:20px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.footer-map {
  border: 1px solid #fff;
}
.footer-map:hover {
  transform: scale(1.1);
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* parallax */
#parallax-world-of-ugg .block {
  width:100%; 
  margin:0 auto; 
  text-align:justify;
  position: relative;
}
/* Section - Parallax */
#parallax-world-of-ugg .parallax-two {
  padding-top: 350px; 
  padding-bottom: 350px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url("../img/viktor-forgacs-5mGGOWD-Ths-unsplash.jpg"); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 400px; 
  padding-bottom: 350px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url('../img/S__23830571.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}





