<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CEA101G3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ShopOrderServlet</servlet-name>
		<servlet-class>com.shop_order.controller.ShopOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopOrderServlet</servlet-name>
		<url-pattern>/shop_order/shop_order.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ItemPromotionServlet</servlet-name>
		<servlet-class>com.itempromotion.controller.ItemPromotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPromotionServlet</servlet-name>
		<url-pattern>/item_promotion/item_promotion.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShopOrderDetailServlet</servlet-name>
		<servlet-class>com.shop_order_detail.controller.ShopOrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopOrderDetailServlet</servlet-name>
		<url-pattern>/shop_order_detail/shop_order_detail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/emp.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FuncServlet</servlet-name>
		<servlet-class>com.func.controller.FuncServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FuncServlet</servlet-name>
		<url-pattern>/func/func.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpFuncServlet</servlet-name>
		<servlet-class>com.emp_func.controller.EmpFuncServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpFuncServlet</servlet-name>
		<url-pattern>/emp_func/emp_func.do</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.emp.login.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/back_end/emp/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>EmpFilter</filter-name>
		<filter-class>com.emp.func.filter.EmpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmpFilter</filter-name>
		<url-pattern>/back_end/emp/protected/addEmp.jsp</url-pattern>
		<url-pattern>/back_end/emp/protected/addEmpFunc.jsp</url-pattern>
		<url-pattern>/back_end/emp/protected/addFunc.jsp</url-pattern>
		<url-pattern>/back_end/emp/protected/updateEmp.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>EmpViewFilter</filter-name>
		<filter-class>com.emp.func.filter.EmpViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmpViewFilter</filter-name>
		<url-pattern>/back_end/emp/protected/viewEmp.jsp</url-pattern>
		<url-pattern>/back_end/emp/protected/viewEmpFunc.jsp</url-pattern>
		<url-pattern>/back_end/emp/protected/viewFunc.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>


</web-app>