/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color:#eceeef3a;
    position: fixed;
    z-index: 999;
}

.logo {
  text-align: center;
  margin-top: -55px;
}

.img-logo {
  height: 150px;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%); 
  -o-filter: grayscale(0%);
}
#logoo:hover {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  transform: scale(1.1); 
}

.header.opaque {
  background-color: rgba(255, 228, 196, 0.673);
  transition: background-color .5s ease 0s;
}

.lickme {
  padding-top: 100px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 40px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  font-weight: 400;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle li:hover
{
  background-color: rgba(255, 99, 71, 0.796);
  text-shadow: 0px 0px 0px 15px #000;
  border-radius: 25px;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed9f;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  text-align: center;
  padding: 10px 40px;
  font-size: 22px;
}

/*And let's slide it in from the left*/
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* marquee news*/
.marquee {
  width: 100%;
	height: 50px;
	background:rgba(51, 51, 51, 0.529);
	overflow: hidden;
  position: relative;
  margin-top: -50px;
  text-align: center;
}
.marquee ul {
    width: 100%;
    position: absolute;
}
	
.marquee li {
    font-size: 18px;
		display: block;
		line-height: 50px;
		text-decoration: none;
		text-overflow: ellipsis;
    white-space: nowrap;
		overflow: hidden;
		color: #fff;
}
.marquee li:hover {
  color: rgb(206, 195, 195);
  cursor: pointer;
}

.marquee .news-title {
  margin-left: 28%;
  padding-top: 10px;
  font-size: 20px;
  height: 50px;
  width: 100px;
  color: #fff;
  background-color: #85878f90;
}

/*booking-check*/
#book-checking {
  width: 100%;
  height: 300px;
  background-color: #496b6b;
}

#book-checking .book-title {
  font-family: 'cwTeXMing', Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  font-weight: 400;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  color: #fff;
  padding-top: 8px;
  text-align: center;
}

#book-checking .checking-date {
  display: grid;
  display: inline-flex;
  margin-left: 25%;
  margin-top: 10px;
}

#book-checking .checking-date .mobile-checking{
  width: 180px;
  height: 200px;
  margin-left: 40px;
  border: 2px solid #fff;
  text-align: center;
  padding: 10px 10px;
}

#book-checking .checking-date .mobile-checking a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#book-checking .checking-date .mobile-checking:hover{
  background-color: #c35c61;
}

/*sidebar*/
.presentation-nav{
  position: absolute;
  top: 153px;
  right: 10px;
  position: fixed;
  z-index: 999999;
}

.presentation-nav li{
  list-style-type: none;
  margin: 10px;
  text-align: right;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}

.presentation-nav li span {
  font-size: 20px;
  min-width: 60px;
  margin-right: 5px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: right;
  text-shadow: 0 0 5px #333, 1px 1px 0px #333;
}

.presentation-nav li i {
  font-size: 30px;
  background-color: #76462b;
  border-radius: 50%;
  padding: 10px;
  animation: shake .2s linear infinite alternate;
}

.presentation-nav ul :nth-child(2) i{
  background-color: #5b9a80;
  animation: shake .2s linear infinite alternate;
}

.presentation-nav ul :nth-child(3) i {
  background-color: #c35b61;
  animation: shake .2s linear infinite alternate;
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*parallax content*/

/*rest title*/
.rest-title {
  text-align: center;
  background-color: #e5e5dd;
  height: 655px;
}

.rest-title .rest-title-container {
  padding: 30px 20px;
}

.rest-title .rest-title-container {
  color: #663402;
}

.rest-title .rest-title-container h1 {
  font-family: 'cwTeXMing', Times, 'Times New Roman', serif;
  color: #663402;
  font-weight: bold;
  font-size: 38px;
  padding: 20px;
}

/*rest box*/
.rest {
  display: inline-flex;
  width: 100%;
}

.rest .rest-box{
  width: 720px;
  vertical-align: middle;
	height: 450px;
	overflow: hidden;
}

.rest .rest-box:hover {
  cursor: pointer;
}
.rest-box img {
	width: 100%;
	height: 100%;
	transition: all 0.9s;
	filter: brightness(0.8) saturate(0.7);
}
figure:hover img {
	transform: scale(1.13);
	filter: brightness(1) saturate(1);
}
figure figcaption{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 3px orange;
	font-size: 20px;
	margin-top: -5px;
	padding-top: 10px;
	transition: all 0.6s;
}
figure:hover figcaption{
	margin-top: -50px;
	position: relative;
	z-index: 2;
}

/*presentation*/
.presentation-text {
  text-shadow: 0px 0px 15px #000;
  color: #fff;
}

.presentation-bg {
  width: 400px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.502);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.presentation-text h1 {
  font-family: 'cwTeXMing', Times, 'Times New Roman', serif;
  border-bottom: 1px solid #fff;
  padding: 5px 80px;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: bold;
}

.presentation-text h4 {
  line-height: 1.6;
  padding: 2px 15px;
  max-width: 430px;
  margin: auto;
}

.presentation-bg2 {
  width: 400px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.502);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 45%;
}

.presentation-text2 h1 {
  font-family: 'cwTeXMing', Times, 'Times New Roman', serif;
  border-bottom: 1px solid #fff;
  padding: 5px 80px;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 15px #000;
}

.presentation-text2 h4 {
  line-height: 1.6;
  padding: 2px 15px;
  max-width: 430px;
  margin: auto;
  color: #fff;
}

/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:20px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.footer-map {
  border: 1px solid #fff;
}
.footer-map:hover {
  transform: scale(1.1);
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* parallax */
#parallax-world-of-ugg .block {
  width:100%; 
  margin:0 auto; 
  text-align:justify;
  position: relative;
}
/* Section - Parallax */
#parallax-world-of-ugg .parallax-two {
  padding-top: 350px; 
  padding-bottom: 350px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url("img/viktor-forgacs-5mGGOWD-Ths-unsplash.jpg"); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 400px; 
  padding-bottom: 350px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url('img/S__23830571.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}





